.footer-container {
    background-color: #0f0f0f;
    height: 60px; 
    width: 100%;
    color: azure;
    position: fixed;  
    display:flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center;
    bottom: 0;
}
